{% extends 'core/base.html' %}

{% block content %}
    <section class="">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Relatório
                </h1>
                <h2 class="subtitle">
                    Expressando os dados em um relatório por Promoteres
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title myheader">Contratos Novos e Refins</h1>
            <table class="table mytable is-bordered is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="is-success">Maio</th>
                    <th class="is-success">Pago</th>
                    <th class="is-success">Enviado</th>
                    <th class="is-success">PEN/REP</th>
                    <th class="is-success">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="mytable">Promoter 01</td>
                    <td>0,00</td>
                    <td>181,51</td>
                    <td>0,00</td>
                    <td><strong>181,51</strong></td>
                </tr>
                <tr>
                    <td class="mytable">Promoter 02</td>
                    <td>0,00</td>
                    <td>181,51</td>
                    <td>0,00</td>
                    <td><strong>181,51</strong></td>
                </tr>
                <tr>
                    <td class="mytable">Promoter 03</td>
                    <td>0,00</td>
                    <td>181,51</td>
                    <td>0,00</td>
                    <td><strong>181,51</strong></td>
                </tr>
                <tr>
                    <td class="mytable">Promoter 04</td>
                    <td>0,00</td>
                    <td>181,51</td>
                    <td>0,00</td>
                    <td><strong>181,51</strong></td>
                </tr>
                <tr>
                    <td class="mytable">Promoter 05</td>
                    <td>0,00</td>
                    <td>181,51</td>
                    <td>0,00</td>
                    <td><strong>181,51</strong></td>
                </tr>
                <tr>
                    <td class="mytable">Promoter 06</td>
                    <td>0,00</td>
                    <td>181,51</td>
                    <td>0,00</td>
                    <td><strong>181,51</strong></td>
                </tr>
                <tr>
                    <td class="mytable">Promoter 07</td>
                    <td>0,00</td>
                    <td>181,51</td>
                    <td>0,00</td>
                    <td><strong>181,51</strong></td>
                </tr>
                <tr>
                    <td class="mytable"><strong>Total</strong></td>
                    <td><strong>3.889,30</strong></td>
                    <td><strong>15145,72</strong></td>
                    <td><strong>4.799,34</strong></td>
                    <td class="is-info"><strong>23.834,36</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
